/*for admin page with inputfield*/

.input--div {
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin-top: 5%;
    margin-bottom: 5%;
}

.input--form {
    margin-top: 2%;
}

#name, #description, #price {
    border-radius: 15px;
    padding: 1%;
    /*so the line around the fields doesn't appear when clicked since the border radius is modified*/
    outline: none;
}

#button {
    border-radius: 15px;
    outline: none;
}


