.cart-container {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
}

.cart-menu {
  position: relative;
}

.cart-menu .cart-content {
  display: none;
}

.cart-menu:hover .cart-content {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  padding: 1.3rem;
  min-height: 27rem;
  min-width: 25rem;
  background-color: white;
}

.cart-content {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-bottom: 2.5rem;
}

.cart-row,
.cart-table {
  width: 100%;
}

/* clear cart button */
.btn-clear-cart {
  display: inline-block;
  height: 2.4rem;
  padding: 0 30px;
  color: #555;
  text-align: center;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

.shopping-cart {
  padding-top: 11px;
  margin-right: 1rem;
  max-width: 2.5rem;
  max-height: 2.2rem;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
}

.cart-quantity-input {
  width: 50%;
}

.total {
  text-align: end;
}
