.cart-container {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

ul {
  list-style: none;
}

.cart-menu {
  position: relative;
}

.cart-menu .cart-content {
  display: none;
}

.cart-content {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-bottom: 2.5rem;
}

.cart-row,
.cart-table {
  width: 100%;
}

/* clear cart button */
.checkout-button {
  display: inline-block;
  height: 2.4rem;
  padding: 0 30px;
  color: #555;
  text-align: center;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding-top: 0.4rem;
}

.checkout-button:hover {
  color: white;
  background-color: #a4c1c5;
  text-decoration: none;
}

.remove {
  background-color: #a4c1c5;
}

.remove:hover {
  color: black;
  background-color: white;
}

.shopping-cart {
  padding-top: 11px;
  margin-right: 1rem;
  max-width: 2.5rem;
  max-height: 2.2rem;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  word-wrap: break-word;
}

.cart-quantity-input,
.remove {
  width: 2.5rem;
}

.total,
.cart-total {
  text-align: end;
}

.navbar {
  justify-content: start;
  max-width: 100%;
}

.nav-link {
  text-align: center;
}

.nav-link:hover {
  background-color: lightgray;
}

.img-popup-cart {
  width: 60px;
}

.cart-title,
.cart-price {
  max-width: 6rem;
}
