.contact-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 4px solid white;
  border-radius: 15px;
  outline: none;
  padding: 5rem;
  height: 80vh;
}

.contact-item {
  text-align: center;
  font-weight: 400;
}

.contact-text {
  color: white;
  margin: 2rem;
  font-weight: 400;
  font-size: 1.3rem;
}

.contact-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-input {
  width: 100%;
  min-height: 2.4rem;
}

.extra-height {
  min-height: 10rem;
}

.contact-button {
  position: relative;
  background: none;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid white;
  padding: 0.5em 1em;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #427580;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #427580;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &:hover {
    &::before {
      right: 80%;
    }
    &::after {
      left: 80%;
    }
  }
}

.label-input {
  width: 100%;
}
