.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #a4c1c5;
  height: 60%;
  max-width: 100%;
}

.footer--div {
  width: 20%;
  text-align: center;
  margin-top: 20px;
}

.footer--icons {
  font-size: 30px;
  margin-right: 1%;
}

#login {
  transition-duration: 0.4s;
  background-color: black;
  color: #a4c1c5;
  border-radius: 6px;
}

.p--socialmedia {
  margin-top: 15%;
}

.link--socialmedia {
  color: black;
  font-size: 2rem;
}

.link--socialmedia:visited {
  color: black;
}

.link--socialmedia:hover {
  color: white;
}

.footer--link {
  color: black;
}

.footer--link:vistied {
  color: black;
}

.footer--link:hover {
  color: white;
  text-decoration: none;
}

.footer-section-cart {
  height: 60vh;
  width: 100%;
}

.footer-fix {
  height: 60vh;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .footer--div {
    width: 100%;
  }

  .footer-section {
    height: 82%;
  }

  .p--socialmedia {
    margin-top: 10%;
  }

  #login {
    margin-bottom: 4%;
  }
}
