.landingpage-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 18rem;
  height: 100%;
  margin: auto;
  text-align: center;
  font-family: arial;
  text-decoration: none;
  margin: 1rem;
  overflow: hidden;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.product-image {
  width: 100%;
  min-height: 214.5px;
  object-fit: cover;
}

.product-title {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
