@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

.header-section {
  background-image: url(https://images.unsplash.com/photo-1490243248048-8a68b3b77805?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1489&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%; }

.shopping-cart {
  margin-top: 10px;
  display: flex; }

.landingpage-section {
  height: 100vh; }

.footer-section {
  background-color: #dcc5a8;
  height: 20vh; }
