@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box; }

body {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

.header-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.pexels.com/photos/345415/pexels-photo-345415.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100%; }

.site-title {
  background-color: #a4c1c5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-bottom: -3px;
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 2rem; }

.header-picture-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }

#header-h {
  font-size: 3rem; }

#header-picture-a {
  color: white;
  text-decoration: none;
  font-size: 1rem; }

#header-picture-button {
  position: relative;
  background: none;
  color: #427580;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid #427580;
  padding: 0.5em 1em; }
  #header-picture-button::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: white;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
  #header-picture-button::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: white;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
  #header-picture-button:hover::before {
    right: 80%; }
  #header-picture-button:hover::after {
    left: 80%; }

@media (min-width: 280px) and (max-width: 320px) {
  .site-title {
    font-size: 25px; }
  #header-h {
    margin-top: 55%; } }

@media only screen and (max-width: 767px) {
  #header-h {
    font-size: 35px; }
  .header-picture-text {
    margin-top: 10%; } }

@media only screen and (max-width: 768px) {
  .header-picture-text {
    margin-top: 6%; } }

.landingpage-section {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-around;*/ }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /*width: 300px;*/
  width: 20%;
  height: 100%;
  margin: auto;
  text-align: center;
  font-family: arial;
  text-decoration: none; }

.item-price {
  color: grey;
  font-size: 22px; }

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px; }

.card button:hover {
  opacity: 0.7; }

.product-image {
  max-width: 100%;
  max-height: 100%; }

@media only screen and (max-width: 767px) {
  .card {
    width: 50%; } }

@media only screen and (max-width: 280px) {
  .card {
    width: 100%; } }

/*for admin page with inputfield*/
.input--div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%; }

.input--form {
  margin-top: 2%; }

#product--name, #product--description, #product--price {
  border-radius: 15px;
  padding: 1%;
  /*so the line around the fields doesn't appear when clicked since the border radius is modified*/
  outline: none; }

.product--add {
  border-radius: 15px;
  outline: none; }

.picture--add {
  border-radius: 15px;
  outline: none;
  margin-bottom: 17px; }

.cart-container {
  display: flex;
  justify-content: flex-end; }

ul {
  list-style: none; }

.cart-menu {
  position: relative; }

.cart-menu .cart-content {
  display: none; }

.cart-menu:hover .cart-content {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  padding: 1.3rem;
  min-height: 27rem;
  min-width: 25rem;
  background-color: white; }

.cart-content {
  text-align: center; }

table {
  border-collapse: collapse;
  margin-bottom: 2.5rem; }

.cart-row,
.cart-table {
  width: 100%; }

/* clear cart button */
.btn-clear-cart {
  display: inline-block;
  height: 2.4rem;
  padding: 0 30px;
  color: #555;
  text-align: center;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid lightgrey; }

.shopping-cart {
  padding-top: 11px;
  margin-right: 1rem;
  max-width: 2.5rem;
  max-height: 2.2rem; }

th,
td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1; }

.cart-quantity-input {
  width: 50%; }

.total,
.cart-total {
  text-align: end; }

.contact-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 4px solid white;
  min-width: 50rem;
  border-radius: 15px;
  outline: none; }

.contact-item {
  text-align: center;
  font-weight: 400; }

.contact-text {
  color: white;
  margin: 2rem;
  font-weight: 400;
  font-size: 1.3rem; }

.contact-header {
  display: flex;
  align-items: center;
  justify-content: center; }

.contact-input {
  min-width: 25rem;
  min-height: 2.4rem; }

.extra-height {
  min-height: 10rem; }

.contact-button {
  margin: 0.5rem;
  min-width: 10rem;
  min-height: 2.4rem;
  background-color: A4C1C5;
  font-weight: 400; }

.contact-button:hover {
  background-color: white; }

.inga-kanter {
  border-radius: 15px;
  outline: none; }

.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #A4C1C5;
  height: 60%;
  max-width: 100%; }

.footer--div {
  width: 20%;
  text-align: center; }

.footer--icons {
  font-size: 30px;
  margin-right: 1%; }

#login {
  transition-duration: 0.4s;
  background-color: black;
  color: #A4C1C5;
  border-radius: 6px; }

.p--socialmedia {
  margin-top: 15%; }

.link--socialmedia {
  color: black; }

.link--socialmedia:visited {
  color: black; }

.link--socialmedia:hover {
  color: white; }

.footer--link {
  color: black; }

.footer--link:vistied {
  color: black; }

.footer--link:hover {
  color: white;
  text-decoration: none; }

@media only screen and (max-width: 767px) {
  .footer--div {
    width: 100%; }
  .footer-section {
    height: 82%; }
  .p--socialmedia {
    margin-top: 10%; }
  #login {
    margin-bottom: 4%; } }

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  margin-top: 5%;
  margin-bottom: 5%; }

.cart--row {
  display: flex;
  width: 50%;
  justify-content: space-between; }

.btn-checkout {
  border-radius: 15px;
  outline: none; }

@media only screen and (max-width: 767px) {
  .cart--row {
    width: 100%; } }

/*media queries, 280 är fuuuul vi måste fixa*/
