@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box; }

body {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

.header-section {
  background-image: url(https://images.unsplash.com/photo-1490243248048-8a68b3b77805?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1489&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%; }

/* .shopping-cart {
    display: flex;
    justify-content: flex-end;
}

*/
.landingpage-section {
  display: flex;
  flex-wrap: wrap; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  text-decoration: none; }

.item-price {
  color: grey;
  font-size: 22px; }

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px; }

.card button:hover {
  opacity: 0.7; }

.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #A4C1C5;
  height: 60%;
  max-width: 100%; }

.footer--div {
  width: 20%;
  text-align: center; }

.footer--icons {
  font-size: 30px;
  margin-right: 1%; }

#login {
  transition-duration: 0.4s;
  background-color: black;
  color: #A4C1C5;
  border-radius: 6px; }

.p--socialmedia {
  margin-top: 15%; }

/*for admin page with inputfield*/
.input--div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%; }

.input--form {
  margin-top: 2%; }

#name, #description, #price {
  border-radius: 15px;
  padding: 1%;
  /*so the line around the fields doesn't appear when clicked since the border radius is modified*/
  outline: none; }

#button {
  border-radius: 15px;
  outline: none; }

.div-cart:after {
  display: table;
  clear: both; }

ul {
  list-style: none; }

.cart-menu {
  position: relative; }

.cart-menu .cart-content {
  display: none; }

.cart-menu:hover .cart-content {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  padding: 1.3rem;
  min-height: 27rem;
  min-width: 19rem;
  background-color: white; }

.cart-content {
  text-align: center; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.cart-row,
.cart-table {
  width: 100%;
  box-sizing: border-box; }

/* clear cart button */
.btn-clear-cart {
  display: inline-block;
  height: 2.4rem;
  padding: 0 30px;
  color: #555;
  text-align: center;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid lightgrey; }

.shopping-cart {
  padding-top: 11px;
  margin-right: 1rem;
  max-width: 2.5rem;
  max-height: 2.2rem; }

th {
  border-bottom: 2px solid black;
  padding-bottom: 1rem; }

td {
  padding-top: 10px; }
