@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box; }

body {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

.header-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.pexels.com/photos/345415/pexels-photo-345415.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh; }

.site-title {
  background-color: #a4c1c5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-bottom: -3px;
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 2rem; }

.header-picture-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }

#header-h {
  font-size: 3rem; }

#header-picture-a {
  color: white;
  text-decoration: none;
  font-size: 1rem; }

#header-picture-button {
  position: relative;
  background: none;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid #427580;
  padding: 0.5em 1em; }
  #header-picture-button::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: white;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
  #header-picture-button::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: white;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
  #header-picture-button:hover::before {
    right: 80%; }
  #header-picture-button:hover::after {
    left: 80%; }

.landingpage-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 18rem;
  height: 100%;
  margin: auto;
  text-align: center;
  font-family: arial;
  text-decoration: none;
  margin: 1rem; }

.price {
  color: grey;
  font-size: 22px; }

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px; }

.card button:hover {
  opacity: 0.7; }

.product-image {
  width: 100%;
  min-height: 214.5px;
  object-fit: cover; }

/*for admin page with inputfield*/
.input--div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%; }

.input--form {
  margin-top: 2%; }

#product--name,
#product--description,
#product--price {
  border-radius: 15px;
  padding: 1%;
  /*so the line around the fields doesn't appear when clicked since the border radius is modified*/
  outline: none; }

.product--add {
  border-radius: 15px;
  outline: none; }

.picture--add {
  border-radius: 15px;
  outline: none;
  margin-bottom: 17px; }

.cart-container {
  display: flex;
  justify-content: flex-end;
  margin-left: auto; }

ul {
  list-style: none; }

.cart-menu {
  position: relative; }

.cart-menu .cart-content {
  display: none; }

.cart-menu:hover .cart-content {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  padding: 1.3rem;
  min-height: 27rem;
  min-width: 25rem;
  background-color: white; }

.cart-content {
  text-align: center; }

table {
  border-collapse: collapse;
  margin-bottom: 2.5rem; }

.cart-row,
.cart-table {
  width: 100%; }

/* clear cart button */
.checkout-button {
  display: inline-block;
  height: 2.4rem;
  padding: 0 30px;
  color: #555;
  text-align: center;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding-top: 0.4rem; }

.checkout-button:hover {
  color: white;
  background-color: #a4c1c5;
  text-decoration: none; }

.remove {
  background-color: #a4c1c5; }

.remove:hover {
  color: black;
  background-color: white; }

.shopping-cart {
  padding-top: 11px;
  margin-right: 1rem;
  max-width: 2.5rem;
  max-height: 2.2rem; }

th,
td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1; }

.cart-quantity-input,
.remove {
  width: 2.5rem; }

.total,
.cart-total {
  text-align: end; }

.navbar {
  justify-content: start;
  max-width: 100%; }

.nav-link {
  text-align: center; }

.nav-link:hover {
  background-color: lightgray; }

.contact-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 4px solid white;
  border-radius: 15px;
  outline: none;
  padding: 5rem;
  height: 80vh; }

.contact-item {
  text-align: center;
  font-weight: 400; }

.contact-text {
  color: white;
  margin: 2rem;
  font-weight: 400;
  font-size: 1.3rem; }

.contact-header {
  display: flex;
  align-items: center;
  justify-content: center; }

.contact-input {
  width: 100%;
  min-height: 2.4rem; }

.extra-height {
  min-height: 10rem; }

.contact-button {
  position: relative;
  background: none;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid white;
  padding: 0.5em 1em; }
  .contact-button::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #427580;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
  .contact-button::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #427580;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
  .contact-button:hover::before {
    right: 80%; }
  .contact-button:hover::after {
    left: 80%; }

.label-input {
  width: 100%; }

.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #a4c1c5;
  height: 60%;
  max-width: 100%; }

.footer--div {
  width: 20%;
  text-align: center;
  margin-top: 20px; }

.footer--icons {
  font-size: 30px;
  margin-right: 1%; }

#login {
  transition-duration: 0.4s;
  background-color: black;
  color: #a4c1c5;
  border-radius: 6px; }

.p--socialmedia {
  margin-top: 15%; }

.link--socialmedia {
  color: black;
  font-size: 2rem; }

.link--socialmedia:visited {
  color: black; }

.link--socialmedia:hover {
  color: white; }

.footer--link {
  color: black; }

.footer--link:vistied {
  color: black; }

.footer--link:hover {
  color: white;
  text-decoration: none; }

.footer-section-cart {
  height: 60vh;
  width: 100%; }

.footer-fix {
  height: 60vh;
  width: 100%; }

@media only screen and (max-width: 767px) {
  .footer--div {
    width: 100%; }
  .footer-section {
    height: 82%; }
  .p--socialmedia {
    margin-top: 10%; }
  #login {
    margin-bottom: 4%; } }

:root {
  --modal-duration: 1s; }

.button-modal {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer; }

.button-modal:hover {
  background: #3876ac; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); }

.modal-content {
  margin: 10% auto;
  width: 40%;
  height: 30%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  text-align: center; }

.modal-header h2,
.modal-footer h3 {
  margin: 0; }

.shoe-icon {
  font-size: 8rem; }

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.modal-body {
  padding: 10px 20px;
  background: #fff; }

.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.close {
  color: black;
  float: right;
  font-size: 30px;
  color: black; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

@keyframes modalopen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%; }

.cart--row {
  display: flex;
  width: 50%;
  justify-content: space-between; }

.btn-checkout {
  border-radius: 15px;
  outline: none; }

.th-cart {
  font-size: 1.8rem;
  font-weight: normal; }

.table-header-cart {
  text-align: center; }

#section-h2 {
  font-size: 2.5rem; }

.checkout-container {
  display: flex;
  justify-content: center; }

.total-container {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-bottom: 0.5rem; }

.total-in-cart {
  font-weight: bold; }

#btn-checkout {
  font-size: 1.1rem;
  position: relative;
  background: none;
  color: #427580;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid #427580; }
  #btn-checkout::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: white;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
  #btn-checkout::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: white;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
  #btn-checkout:hover::before {
    right: 80%; }
  #btn-checkout:hover::after {
    left: 80%; }

.img-in-cart {
  width: 120px; }

#downloadPDF {
  display: inline-block;
  height: 2.4rem;
  padding: 0 30px;
  color: #555;
  text-align: center;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding-top: 0.4rem; }

#downloadPDF:hover {
  color: white;
  background-color: #a4c1c5;
  text-decoration: none; }

@media only screen and (max-width: 767px) {
  .cart--row {
    width: 100%; }
  .th-cart {
    font-size: 1rem; }
  #section-h2 {
    font-size: 1.5rem; }
  .cart-quantity-input {
    font-size: 0.7rem;
    width: 20px;
    height: 20px; }
  .x-botton-in-cart {
    width: 20px;
    height: 20px;
    font-size: 0.7rem; }
  .img-in-cart {
    width: 50px; }
  .total-in-cart {
    font-size: 1rem; }
  .cart-total-price {
    font-size: 1rem; }
  .modal-content {
    height: 30%;
    width: 70%; }
  .shoe-icon {
    font-size: 3rem; } }

@media (min-width: 280px) and (max-width: 320px) {
  .site-title {
    font-size: 25px; }
  #header-h {
    margin-top: 55%; } }

@media only screen and (max-width: 767px) {
  #header-h {
    font-size: 35px; }
  .header-picture-text {
    margin-top: 10%; } }

@media only screen and (max-width: 768px) {
  .header-picture-text {
    margin-top: 6%; } }

@media only screen and (max-width: 620px) {
  .label-input {
    width: 100%;
    padding: 0 2rem 0 2rem; }
  .contact-container {
    padding: 2.5rem 0 2.5rem 0; } }

@media only screen and (max-width: 767px) {
  .footer--div {
    width: 100%; }
  .footer-section {
    height: 82%; }
  .p--socialmedia {
    margin-top: 10%; }
  #login {
    margin-bottom: 4%; } }

@media only screen and (max-width: 767px) {
  .card {
    width: 50%; } }

@media only screen and (max-width: 280px) {
  .card {
    width: 100%; } }
